/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-primary: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', sans-serif;
  --background-image: repeating-linear-gradient(
      90deg,
      var(--gradient-color-background, black),
      var(--gradient-color-background, black) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--gradient-color-background, black),
      var(--gradient-color-background, black) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      180deg,
      var(--gradient-color-start, #007f0c) 0.01%,
      var(--gradient-color-end, #004306)
    );
  --header-container-margin-block-start: clamp(
    7.5rem,
    6.202rem + 5.538vw,
    8.625rem
  );
  --header-link-font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  --header-title-font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  --disk-size: 21px;
}

@media ( width < 376px) {

  :root {
    --disk-size: 28px;
  }
}